@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
body .container {
  padding: 20px;
}
body .product {
  position: relative;
  transition: all 200ms ease-in;
  transform: scale(1);
}
body .product:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 4;
  transition: all 200ms ease-in;
  transform: scale(1);
  cursor: pointer;
}

.product-image img {
  max-height: 270px;
  /* margin: auto; */
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  /* min-height: 150px; */
  /* min-width: 150px; */
}
.product-image imgimg:hover {
  cursor: pointer;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  z-index: 0;
}
.product-image img[src*=washing] {
  margin-top: 50px;
}

.details {
  margin-top: 60px;
}

.small-head {
  color: #559CDF;
  font-size: 12px;
  font-weight: 300;
}

.product-name {
  margin: 30px auto;
}
.product-name h1 {
  font-size: 60px;
  font-weight: 300;
}

.product-info {
  border-bottom: 1px solid #a7a4b6;
}
.product-info p {
  color: #a7a4b6;
  font-weight: 300;
}

.color-choice, .cable-config {
  margin: 30px auto;
}

.color-choice p, .cable-config p {
  font-size: 12px;
  color: #a7a4b6;
}

.btn-circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 1px solid #a7a4b6;
}

.btn-circle img[src*=check] {
  filter: opacity(0.5) drop-shadow(0 0 0 black);
}

.btn-outline-dark {
  border: 1px solid #a7a4b6;
  font-size: 14px;
}

.white {
  background-color: #f7f6f4;
}

.blue {
  background-color: #5eb8ea;
}

.black {
  background-color: #505054;
}

.purple {
  background-color: #9080eb;
}

.help {
  margin-bottom: 15px;
  border-bottom: 1px solid #a7a4b6;
  padding-bottom: 10px;
}
.help a {
  font-size: 12px;
}

.question {
  border-bottom: 1px solid #e1e8ee;
  padding-bottom: 15px;
}
.question a {
  font-size: 12px;
}

.que-link {
  font-size: 15px;
  text-decoration: none;
}
.que-link:before {
  content: "?";
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 1.8ex;
  height: 1.8ex;
  font-size: 2.4ex;
  line-height: 1.8ex;
  border-radius: 1.2ex;
  margin-right: 4px;
  padding: 1px;
  color: #358ed7;
  background: white;
  border: 1px solid #b2d4f0;
  text-decoration: none;
}
.que-link:hover:before {
  color: white;
  background: #358ed7;
  border-color: #bfd6ee;
  text-decoration: none;
}

.price-cart span {
  margin-right: 10px;
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  #slider-product, #prod-slider-land {
    display: none;
  }
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
  div.main, #prod-slider-land {
    display: none;
  }
}
@media only screen and (max-width: 700px) and (orientation: landscape) {
  #prod-slider-land {
    display: block;
  }

  div.main {
    display: none;
  }
}
.product-image-small {
  display: block;
  max-width: 190px !important;
  margin: 0 auto !important;
  max-height: 300px !important;
}

.mi-pad {
  padding-top: 80px !important;
}

.owl-carousel .pslider img {
  display: block;
  max-width: 230px !important;
  margin: 0 auto !important;
  max-height: 500px !important;
}

.landscape-prod-row .product-image img {
  max-height: 400px;
  /* margin: auto; */
  /* text-align: center; */
  margin-top: -10px;
  margin-left: 15px;
  display: table-cell;
  vertical-align: middle;
  /* min-height: 150px; */
  /* min-width: 150px; */
}
.landscape-prod-row .product-image imgimg:hover {
  cursor: pointer;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  z-index: 0;
}
.landscape-prod-row .details {
  margin-left: 25px;
  margin-top: 37px;
}
.landscape-prod-row .product {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: -20px;
}
.landscape-prod-row .product-name h1 {
  font-size: 31px;
  font-weight: 600;
}
.landscape-prod-row .product-info p {
  color: #a7a4b6;
  font-weight: 300;
  font-size: 13px;
}
.landscape-prod-row .small-head {
  margin-bottom: -20px;
  color: #559CDF;
  font-size: 12px;
  font-weight: 300;
  margin-top: -50px;
}
.landscape-prod-row .color-choice, .landscape-prod-row .cable-config {
  margin: 5px auto;
}

.owl-carousel .pslider-landscape .product-image img {
  display: block;
  width: 160px;
}

/*# sourceMappingURL=main.css.map */
